/*---
Color Palette:

#D9F0FF Azureish White
#7BDFF2 Medium Sky Blue
#0EB1D2 Bright Cerulean;
#00FFCD Turquoise Blue
#404E5C Outer Space
#28536B Dark Slate Gray
#274060 Japanese Indigo
#0A1128 Rich Black
#D33F49 English Vermillion
#F46036 Portland Orange

---*/


/* Global Styles */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 14px;

  margin: 0;
}

h1, h2 {
  font-family: 'Spinnaker', sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;

  margin-top: 0;
}

h3 {
  margin: 0;
}

a {
  color: Orange;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  overflow: hidden;

  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;

  padding: 10px;

  text-decoration: none;

  color: white;
  background-color: rgb(210, 63, 73);
}


/* Header & Footer */

header, footer {
  color: rgb(217, 240, 255);
  background: rgb(10, 17, 40);
}


/* Nav */

nav {
  font-size: 0;

  position: fixed;
  z-index: 100;
  top: 0;

  width: 100%;

  text-align: center;

  background: rgb(64, 78, 92);
}

nav a {
  font-size: 16px;
  font-weight: 700;

  display: inline-block;

  padding: 15px 20px;

  text-decoration: none;
  text-transform: uppercase;
}


/* Header */

header {
  position: relative;

  padding-top: 50px;
}

header h1, header h2 {
  margin: 0;

  text-transform: uppercase;

  color: rgb(14, 177, 210);
}

header h1 {
  text-align: center;
}

header h2 {
  margin-top: 15px;

  text-align: center;
}

header p {
  text-align: center;
}

.download {
  position: absolute;
  right: 0;
  bottom: 0;
}


/* Work */

h3 ~ p {
  margin: 0;
}

.work {
  background: rgb(217, 240, 255);
}

.job-description {
  margin-bottom: 25px;
}

.job-description p:first-of-type {
  margin-top: 0;
}


/* Education */

.education {
  background: linear-gradient(rgba(133, 162, 190, .8), rgba(133, 162, 190, .5)), url(../images/jezael-melgoza-250810.jpg) no-repeat fixed;
  background-size: cover;
}


/* Footer */

footer {
  text-align: center;
}

footer p {
  font-size: 12px;
  margin-top: 32px;
  margin-bottom: 0;
  text-transform: uppercase;
}

p + h3 {
  margin-top: 30px;
}

footer .content-wrap {
  padding-bottom: 40px;
}

.contact-info a {
  display: inline-block;

  padding: 12px;
}


/* Media Queries */

@media (min-width: 900px) {
  .col-narrow {
    float: left;

    width: 30%;
    /*min-height: 175px;*/
  }
  .col-wide {
    float: left;

    width: 70%;
    min-height: 78px;
    padding-left: 30px;
  }

  footer p {
    float: right;
  }
}

@media (max-width: 899px) {
  header {
    text-align: center;
  }

  .profile-img {
    width: 200px;
  }


}

@media (max-width: 499px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}
