/*---
Color Palette:
#D9F0FF rgb(217, 240, 255) - Azureish White
#7BDFF2 Medium Sky Blue
#0EB1D2 Bright Cerulean;
#00FFCD Turquoise Blue
#404E5C Outer Space
#28536B Dark Slate Gray
#274060 Japanese Indigo
#0A1128 Rich Black
#D33F49 English Vermillion
#F46036 Portland Orange
---*/


/* Global Styles */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

h1,
h2 {
  font-family: 'Spinnaker', sans-serif;
}

h1 {
  font-size: 60px;
  padding-top: 12px;
}

h2 {
  font-size: 30px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

ul {
  font-size: 14px;
}

a {
  color: white;
}

a:hover {
  text-decoration: unset;
}

.content-wrap {
  overflow: hidden;
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: rgb(210, 63, 73);
}

/* Header & Footer */
header {
  padding-top: 50px;
}

header,
footer {
  color: rgb(217, 240, 255);
  background: rgb(10, 17, 40);
}

/* Nav */
nav {
  font-size: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  text-align: center;
  background: rgb(64, 78, 92);
}

nav ul {
  list-style-type: none;
  padding: unset;
  margin: unset;
}

nav li {
  display: inline-block;
  padding: 15px 20px;
}

li.active {
  background: #dcefff;
}

li.active a {
  color: black;
}

nav a {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;

  height: 100%;
  width: 100%;
}

/* About */
.about {
  position: relative;
  color: rgb(217, 240, 255);
  background: rgb(10, 17, 40);
}

.about h1,
.about h2 {
  margin: 0;
  text-transform: uppercase;
  color: rgb(14, 177, 210);
}

.about h1 {
  text-align: center;
}

.about h2 {
  margin: 15px 0px;
  text-align: center;
}

.about p {
  text-align: center;
  margin: 1% 0;
}

.download {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 125px;
}

/* Work */
h3~p {
  margin: 0;
}

.work {
  background: rgb(217, 240, 255);
}

.work .content-wrap {
  padding: 40px 50px 18px 50px;
}

.job-description {
  margin-bottom: 25px;
}

.job-description p:first-of-type {
  margin-top: 0;
}

/* Education */
.education {
  background: linear-gradient(rgba(133, 162, 190, .8), rgba(133, 162, 190, 1)), url(../images/jezael-melgoza-250810.jpg) no-repeat fixed;
  background-size: cover;
}

/* Footer */
footer {
  text-align: center;
}

footer p {
  font-size: 12px;
  margin-top: 32px;
  margin-bottom: 0;
  text-transform: uppercase;
}

p+h3 {
  margin-top: 30px;
}

footer .content-wrap {
  padding-bottom: 40px;
}

.contact-info a {
  display: inline-block;
  color: orange;
  padding: 12px;
}

/* Media Queries */
@media (min-width: 900px) {
  .col-narrow {
    float: left;
    width: 30%;
    /*min-height: 175px;*/
  }

  .col-wide {
    float: left;
    width: 70%;
    min-height: 78px;
    padding-left: 30px;
  }

  footer p {
    float: right;
  }
}

@media (max-width: 899px) {
  .about {
    text-align: center;
  }

  .about p {
    margin: 4%;
    padding: 0;
  }

  nav li {
    padding: 15px 2%;
  }

  .profile-img {
    width: 200px;
  }

  .download {
    width: 200px;
  }

  p {
    padding: 2% 0;
  }
}

@media (max-width: 499px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  .work h2,
  .education h2 {
    font-size: 25px;
  }
}